@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  @apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent;
}
.bg-gradient {
  @apply bg-gradient-to-r from-primary to-secondary;
}
.btn-gradient {
  @apply bg-gradient-to-r from-primary to-secondary text-white transition-all duration-500 ease-in-out;
}
@media (min-width: 1024px) {
  .lg-peptides-bg {
    background-image: url("../src/assets/home-peptides.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
:root {
  --primary: #b31942;
  --secondary: #093161;
}
